@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
:root {
  --color__btn: #f7d22d;
}
body {
  font-family: "Montserrat", sans-serif;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
}
ul {
  list-style: none;
}
/* prizes */
.prizes {
  padding: 22px 0px 55px;
  margin-bottom: 120px;
}
.prizes__container {
  max-width: 1110px;
  width: calc(100% - 80px);
  margin: 0 auto;
}
.prizes__info {
  max-height: 153px;
  width: calc(100% - 80px);
  overflow: hidden;
  position: relative;
  margin-left: 60px;
  transition: max-height 0.5s;
}
.prizes__h2 {
  padding-top: 12px;
  padding-bottom: 8px;
  font-size: 20px;
  font-weight: bold;
}
.prizes__p {
  margin-bottom: 32px;
  font-size: 12px;
}
.prizes__info--active {
  max-height: 1000px;
  transition: max-height 1.5s;
}
.prizes__btn {
  padding: 8px 32px;
  background-color: var(--color__btn);
  border-radius: 8px;
  border: 0;
  font-size: 14px;
  font-weight: bold;
  margin-left: 60px;
  margin-bottom: 20px;
  cursor: pointer;
}
.prizes__btn:hover {
  color: white;
}
.prizes__info::after {
  width: 100%;
  height: 153px;
  display: block;
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0.1) 0%,
    rgba(255, 255, 255, 1) 100%
  );
  content: "";
  position: absolute;
  left: 0;
  top: 0;
}

.prizes__info--active::after {
  display: none;
}
/* end prizes */

/* menu */
.menu {
  padding: 18px 0;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}
.menu__container {
  max-width: 1100px;
  width: calc(100% - 80px);
  margin: 0 auto;
  display: flex;
  align-items: center;
}
.menu__head {
  padding: 36px 20px 36px 28px;
}
.menu__head ul {
  font-size: 15px;
  font-weight: 600;
}
.menu__ul {
  display: flex;
  align-items: center;
  gap: 20px;
  cursor: pointer;
}
.menu__btn {
  display: flex;
  align-items: center;
  font-size: 16px;
  font-weight: 600;
  padding: 7px 19px 7px 30px;
  background-color: var(--color__btn);
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition-duration: 0.3s;
  transition-property: border, background-color;
}
.separator {
  display: inline-block;
  margin-inline: 12px 18px;
  width: 2px;
  height: 22px;
  background-color: #000;
}
.menu__ul li:hover {
  color: var(--color__btn);
}
.menu__btn:hover {
  background-color: white;
  border: 2px solid var(--color__btn);
}
/* end menu */
/* sauses  */
.sauses {
  padding: 40px 0 48px;
}
.sauses__container {
  max-width: 790px;
  width: calc(100% - 80px);
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  padding: 85px 0px 56px;
  gap: 24px;
}
.sauses__head h2 {
  font-size: 24px;
  font-weight: bold;
  color: var(--color__btn);
}
.sauses__selector {
  display: flex;
  gap: 20px;
}
.sauses__selector li {
  flex: 1;
  display: flex;
}
.sauses__selector li a {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-decoration: none;
  border: 1px solid #e2e2e9;
  padding: 14px 26px 22px;
  border-radius: 12px;
  text-align: center;
  justify-content: space-between;
  max-width: 114px;
}
.sauses__selector li h3 {
  font-size: 14px;
  font-weight: 600;
  color: #000000;
  padding-top: 16px;
}
.sauses__selector li p {
  font-size: 14px;
  font-weight: bold;
  color: #ff2e65;
  padding-top: 10px;
}
.sauses__selector li a:hover {
  border: 1px solid var(--color__btn);
}
/* end sauses */

/* order  */
.order__container {
  max-width: 1110px;
  width: calc(100% - 80px);
  margin: 0 auto;
  display: flex;
  justify-content: center;
  padding-bottom: 240px;
  display: flex;
}
.order__btn {
  cursor: pointer;
  padding: 14px 26px;
  font-size: 14px;
  font-weight: bold;
  border-radius: 8px;
  border: none;
  background-color: white;
  border: 1px solid #e2e2e9;
  transition: background-color 0.4s;
}
.order__btn:hover {
  border: 1px solid var(--color__btn);
  background-color: var(--color__btn);
}

/* end order  */
/* popup-order */
.no__scroll {
  overflow: hidden;
}
.popup-order {
  background: rgba(247, 218, 45, 0.5);
  padding: 92px 0;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: none;
  opacity: 0;
  transition: opacity 0.4s;
}
.popup-order--show {
  display: block;
}
.popup-order--active {
  opacity: 1;
}
.close {
  fill: var(--color__btn);
}
.close:hover {
  fill: rgb(0, 0, 0);
}
.popup-order__container {
  max-width: 664px;
  width: calc(100% - 80px);
  background-color: #e3ecf5;
  margin: 0 auto;
  padding: 34px 27px 44px 34px;
  border-radius: 12px;
  transform: translateY(-700px);
  transition: transform 0.5s;
}
.popup-order--active .popup-order__container {
  transform: translateY(0);
}
.popup-order__head h3 {
  color: #696f7a;
  font-size: 32px;
  font-weight: 800;
}
.popup-order__head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 40px;
}
.popup-order__head__btn {
  border: none;
  cursor: pointer;
  background-color: #e3ecf5;
}
.popup-order__time {
  max-width: 576px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 18px;
  margin: 0 auto;
}
.popup-order__time__btn {
  cursor: pointer;
  padding: 18px 22px;
  border-radius: 8px;
  border: none;
  background-color: white;
  width: 280px;
  display: flex;
  justify-content: start;
  font-size: 18px;
  font-weight: bold;
}
.popup-order__time__btn:hover {
  background-color: var(--color__btn);
  transition: background-color 0.4s;
}
/* popup-order*/
