@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
:root {
  --color__btn: #f7d22d;
}
body {
  font-family: "Montserrat", sans-serif;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
}
ul {
  list-style: none;
}
/* prizes */
.prizes {
  padding: 22px 0px 55px;
  margin-bottom: 120px;
}
.prizes__container {
  max-width: 1110px;
  width: calc(100% - 80px);
  margin: 0 auto;
}
.prizes__info {
  max-height: 153px;
  width: calc(100% - 80px);
  overflow: hidden;
  position: relative;
  margin-left: 60px;
  transition: max-height 0.5s;
}
.prizes__h2 {
  padding-top: 12px;
  padding-bottom: 8px;
  font-size: 20px;
  font-weight: bold;
}
.prizes__p {
  margin-bottom: 32px;
  font-size: 12px;
}
.prizes__info--active {
  max-height: 1000px;
  transition: max-height 1.5s;
}
.prizes__btn {
  padding: 8px 32px;
  background-color: var(--color__btn);
  border-radius: 8px;
  border: 0;
  font-size: 14px;
  font-weight: bold;
  margin-left: 60px;
  margin-bottom: 20px;
  cursor: pointer;
}
.prizes__btn:hover {
  color: white;
}
.prizes__info::after {
  width: 100%;
  height: 153px;
  display: block;
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0.1) 0%,
    rgba(255, 255, 255, 1) 100%
  );
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  transition: opacity 0.5s, height 1s;
}

.prizes__info--active::after {
  opacity: 0;
  height: 1000px;
}
/* end prizes */

/* menu */
.menu {
  padding: 18px 0;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}
.menu__container {
  max-width: 1100px;
  width: calc(100% - 80px);
  margin: 0 auto;
  display: flex;
  align-items: center;
  position: relative;
}
.menu__head {
  padding: 36px 20px 36px 28px;
}
.menu__head ul {
  font-size: 15px;
  font-weight: 600;
}
.menu__ul {
  display: flex;
  align-items: center;
  gap: 20px;
  cursor: pointer;
}
.menu__btn {
  display: flex;
  align-items: center;
  font-size: 16px;
  font-weight: 600;
  padding: 7px 19px 7px 30px;
  background-color: var(--color__btn);
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition-duration: 0.3s;
  transition-property: border, background-color;
}
.separator {
  display: inline-block;
  margin-inline: 12px 18px;
  width: 2px;
  height: 22px;
  background-color: #000;
}
.menu__ul li:hover {
  color: var(--color__btn);
}
.menu__btn:hover {
  background-color: white;
  border: 2px solid var(--color__btn);
}
/* end menu */
/* sauses  */
.sauses {
  padding: 40px 0 48px;
}
.sauses__container {
  max-width: 790px;
  width: calc(100% - 80px);
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  padding: 85px 0px 56px;
  gap: 24px;
}
.sauses__head h2 {
  font-size: 24px;
  font-weight: bold;
  color: var(--color__btn);
}
.sauses__selector {
  display: flex;
  gap: 20px;
}
.sauses__selector li {
  flex: 1;
  display: flex;
}
.sauses__selector li a {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-decoration: none;
  border: 1px solid #e2e2e9;
  padding: 14px 26px 22px;
  border-radius: 12px;
  text-align: center;
  justify-content: start;
  max-width: 114px;
}
.sauses__selector li h3 {
  flex-grow: 1;
  font-size: 14px;
  font-weight: 600;
  color: #000000;
  padding-top: 16px;
}
.sauses__selector li p {
  font-size: 14px;
  font-weight: bold;
  color: #ff2e65;
  padding-top: 10px;
}
.sauses__selector li a:hover {
  border: 1px solid var(--color__btn);
}
/* end sauses */

/* order  */
.order__container {
  max-width: 1110px;
  width: calc(100% - 80px);
  margin: 0 auto;
  display: flex;
  justify-content: center;
  padding-bottom: 240px;
  display: flex;
}
.order__btn {
  cursor: pointer;
  padding: 14px 26px;
  font-size: 14px;
  font-weight: bold;
  border-radius: 8px;
  border: none;
  background-color: white;
  border: 1px solid #e2e2e9;
  transition: background-color 0.4s;
}
.order__btn:hover {
  border: 1px solid var(--color__btn);
  background-color: var(--color__btn);
}

/* end order  */
/* popup-order */
.no__scroll {
  overflow: hidden;
}
.popup-order {
  background: rgba(247, 218, 45, 0.5);
  padding: 92px 0;
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  display: none;
  opacity: 0;
  transition: opacity 0.4s;
}
.popup-order--show {
  display: block;
}
.popup-order--active {
  opacity: 1;
}
.close {
  fill: var(--color__btn);
}
.close:hover {
  fill: rgb(0, 0, 0);
}
.popup-order__container {
  max-width: 664px;
  width: calc(100% - 80px);
  background-color: #e3ecf5;
  margin: 0 auto;
  padding: 34px 27px 44px 34px;
  border-radius: 12px;
  transform: translateY(-700px);
  transition: transform 0.5s;
}
.popup-order--active .popup-order__container {
  transform: translateY(0);
}
.popup-order__head h3 {
  color: #696f7a;
  font-size: 32px;
  font-weight: 800;
}
.popup-order__head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 40px;
}
.popup-order__head__btn {
  border: none;
  cursor: pointer;
  background-color: #e3ecf5;
}
.popup-order__time {
  max-width: 576px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 18px;
  margin: 0 auto;
}
.popup-order__time__btn {
  cursor: pointer;
  padding: 18px 22px;
  border-radius: 8px;
  border: none;
  background-color: white;
  width: 280px;
  display: flex;
  justify-content: start;
  font-size: 18px;
  font-weight: bold;
}
.popup-order__time__btn:hover {
  background-color: var(--color__btn);
  transition: background-color 0.4s;
}
/* end popup-order*/

/* popup-cart */
.popup-cart__container {
  max-width: 796px;
  margin: 0 auto;
  width: calc(100% - 80px);
  margin-bottom: 40px;
}
.popup-cart__head {
  padding-block: 32px;
}
.popup-cart__header {
  color: var(--color__btn);
  font-size: 36px;
  font-weight: 800;
}
.popup-cart__body {
  padding: 28px 0;
  display: flex;
  border-block: 1px solid #ececf1;
  align-items: center;
  justify-content: center;
}
.popup-cart__img {
  margin-right: 24px;
}
.popup-cart__list {
  display: flex;
  align-items: center;
}
.popup-cart__about {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.popup-cart__about h4 {
  font-size: 18px;
  font-weight: bold;
}
.popup-cart__about p {
  color: #686466;
  font-size: 12px;
  font-weight: 300;
  max-width: 408px;
} 
.popup-cart__summ {
  color: var(--color__btn);
  font-size: 24px;
  font-weight: 800;
  margin-right: 32px;
  min-width: 100px; 
  flex-shrink: 0;
}
.popup-cart__calc {
  width: 92px;
  position: relative;
  overflow: hidden;
  border-radius: 8px;
}

.popup-cart__quantity {
  width: 100%;
  padding: 8px;
  border: none;
  text-align: center;
  outline: none;
  background: #f3f3f7;
}
.popup-cart__calc button,
.popup-cart__calc input {
  color: #696f7a;
  font-size: 14px;
  font-weight: bold;
}
.popup-cart__minus,
.popup-cart__plus {
  position: absolute;
  height: 100%;
  width: 24px;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s;
  background: #f3f3f7;
}

.popup-cart__minus:hover,
.popup-cart__plus:hover {
  background: #e3e3e8;
}
.popup-cart__minus {
  left: 0;
}
.popup-cart__plus {
  right: 0;
}
.popup-cart__delete {
  margin-left: auto;
  padding-left: 40px;
}
/* end popup-cart */

/* promocode */

.promocode__container {
  max-width: 796px;
  margin: 0 auto;
  width: calc(100% - 80px);
}
.promocode__head {
  margin-bottom: 26px;
}
.promocode__header {
  font-size: 22px;
  font-weight: 300px;
  color: #ff2e65;
}
.promocode__block {
  display: flex;
  align-items: end;
}
.promocode__input {
  position: relative;
  overflow: hidden;
  width: 353px;
  border-radius: 8px;
}
input::placeholder {
  font-size: 13px;
  font-weight: 600;
  color: #686466;
}
.promocode__input input {
  width: 100%;
  padding: 8px 24px;
  height: 42px;
  outline: none;
  border: 1px solid #e2e2e9;
  border-radius: 8px;
}
.promocode__btn {
  position: absolute;
  height: 100%;
  width: 132px;
  border: none;
  cursor: pointer;
  background-color: var(--color__btn);
  right: 0;
  font-size: 12px;
  font-weight: bold;
}
.promocode__btn:hover {
  color: white;
}
.promocode__summ {
  display: flex;
  margin-left: auto;
  gap: 20px;
  align-items: baseline;
}
.promocode__summ h5 {
  font-size: 24px;
  font-weight: 600;
}
.promocode__summ p {
  color: var(--color__btn);
  font-size: 36px;
  font-weight: 700;
  align-items: baseline;
} 
/* end promocode */

/* form-input */
.form__container {
  max-width: 796px;
  margin: 0 auto;
  width: calc(100% - 80px);
  padding: 40px 0 30px;
}
.form__container h5 {
  font-size: 32px;
  font-weight: 600;
  color: var(--color__btn);
  margin-bottom: 32px;
}
.form__inputs {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.form__user {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.form__user label {
  font-size: 16px;
  color: #231f20;
  font-weight: 500;
}
.form__user input {
  width: 582px;
  height: 46px;
  padding: 10px 20px;
  border: 2px solid #e2e2e9;
  border-radius: 8px;
  outline: none;
}
.form__user input::placeholder {
  font-size: 16px;
  font-weight: bold;
  color: #686466;
}
/* end form-input */

/* checkout-footer */
.checkout-footer__container {
  max-width: 796px;
  margin: 0 auto;
  width: calc(100% - 80px);
  margin-bottom: 100px;
}
.checkout-footer__buttons {
  display: flex;
  justify-content: space-between;
}
.checkout-footer__button {
  display: flex;
  justify-content: center;
}
.checkout-footer__btn--back {
  display: flex;
  gap: 14px;
  justify-content: center;
  align-items: center;
  border: none;

  cursor: pointer;
  background-color: white;
  color: #696f7a;
  font-size: 14px;
  font-weight: bold;
}
.checkout-footer__btn--back::before {
  content: "❮";
  cursor: pointer;
  color: #696f7a;
  font-size: 14px;
}
.checkout-footer__btn--back:hover,
.checkout-footer__btn--back:hover::before {
  color: #000;
}
.checkout-footer__btn--order {
  display: flex;
  gap: 14px;
  padding: 14px 14px 14px 40px;

  font-size: 14px;
  font-weight: bold;
  color: #231f20;
  background-color: var(--color__btn);
  border: none;
  cursor: pointer;
  border-radius: 8px;
}
.checkout-footer__btn--order::after {
  content: "❯";
  font-size: 14px;
  color: #231f20;
}
.checkout-footer__btn--order:hover,
.checkout-footer__btn--order:hover::after {
  color: white;
}
