@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
body {
    font-family: 'Montserrat', sans-serif;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.prizes {
  padding: 22px 0px 55px;
}
.prizes__container {
  max-width: 1110px;
  width: calc(100% - 80px);
  margin: 0 auto; 
}
.prizes__info {
  max-height: 153px;
  width: calc(100% - 80px);
  overflow: hidden;
  position: relative;
  margin-left: 60px; 
} 
.prizes__h2 {
  padding-top: 12px;
  padding-bottom: 8px;
  font-size: 20px;
  font-weight: bold;
}
.prizes__p{
    margin-bottom: 32px;
    font-size: 12px;
}
.prizes__info--active {
    max-height: 1000px;
}
.prizes__btn {
    padding: 8px 32px;
    background-color: #F7D22D;
    border-radius: 8px;
    border: 0;
    font-size: 14px;
    font-weight: bold;
    margin-left: 60px;
    margin-bottom: 20px; 

}
.prizes__info::after {
  width: 100%;
  height: 153px;
  display: block;
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0.1) 0%,
    rgba(255, 255, 255, 1) 100%
  );
  content: "";
  position: absolute;
  left: 0;
  top: 0; 
}

.prizes__info--active::after{
   display: none;
}
